<form class="{{cssClass}}" autocomplete="off">
    <div class="dialog-content">
        <div class="equipment-table-container">
            <table class="equipment-table weapon-selection-table">
                <thead>
                    <tr>
                        <th>{{localize "DX3rd.Name"}}</th>
                        <th>{{localize "DX3rd.Type"}}</th>
                        <th>{{localize "DX3rd.Skill"}}</th>
                        <th>{{localize "DX3rd.Range"}}</th>
                        <th>{{localize "DX3rd.Add"}}</th>
                        <th>{{localize "DX3rd.Attack"}}</th>
                        <th>{{localize "DX3rd.Guard"}}</th>
                        <th>{{localize "DX3rd.Equipment"}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items as |item|}}
                    <tr class="equipment-row {{#if item.isCreated}}newly-created{{/if}} {{#if item.equipped}}currently-equipped{{/if}}">
                        <td class="item-name">{{item.name}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.skill}}</td>
                        <td>{{item.range}}</td>
                        <td>{{item.add}}</td>
                        <td>{{item.attack}}</td>
                        <td>{{item.guard}}</td>
                        <td class="equipment-control">
                            <input type="checkbox" 
                                   class="equipment-checkbox" 
                                   data-item-id="{{item.id}}"
                                   {{#if item.equipped}}checked{{/if}}>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</form>

<div class="equipment-dialog-buttons">
    <button type="button" class="equipment-confirm">{{localize "DX3rd.Confirm"}}</button>
    <button type="button" class="equipment-cancel">{{localize "DX3rd.Cancel"}}</button>
</div>

